apiVersion: v1
kind: PersistentVolume
metadata:
  name: model-buffer-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/data/model-buffer"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: model-buffer-pvc
  namespace: aggregator
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi